<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="vue.js"></script>
		<link rel="stylesheet" href="bootstrap.css" />
	</head>
	<div id="app">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">添加品牌</h3>
			</div>
			<div class="panel-body form-inline">
				<label>
					Id: <input type="text" class="form-control" v-model="id"/>
				</label>
				<label>
					Name: <input type="text" class="form-control" v-model="name" @keyup.f2="add"/>
				</label>
				<!--add() 加小括号就可以传参了-->
				<input type="button" class="btn btn-primary" value="添加" @click="add()"/>
				<label>
					搜索名称关键字: <input type="text" class="form-control" v-model="keywords" id='search' v-focus v-color="'blue'"/>
				</label>
			</div>
		</div>
		<table class="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Ctime</th>
					<th>Operation</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="item in search(keywords)" :key="item.id">
					<td>{{item.id}}</td>
					<td>{{item.name}}</td>
					<td>{{item.ctime | dateFormat()}}</td>
					<td><a href="" @click.prevent="del(item.id)">删除</a></td>				
				</tr>

			</tbody>
		</table>
	</div>
	<div id="app2">
		<h3 v-color="'red'" v-fontweight="900" v-fontsize="'50px'">{{dt | dateFormat()}}</h3>
	</div>
	<script>
		//获取焦点
//		window.onload = function(){			
//			document.getElementById('search').focus()
//		}

		
		//全局过滤器
		Vue.filter('dateFormat',function(dateStr,pattern=""){
			var dt = new Date()
			var y = dt.getFullYear()
			var m = dt.getMonth()+1
			var d = dt.getDate()
//			return y+'-'+m+'-'+d
//			return `${y}-${m}-${d}`
			if(pattern.toLowerCase()==='yyyy-mm-dd'){
				return `${y}-${m}-${d}`
			}else{
				var hh = dt.getHours()
				var mm = dt.getMinutes()
				var ss = dt.getSeconds()
				return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
			}
		})
		//自定义全局按键修饰符
		Vue.config.keyCodes.f2=113
		
		//使用Vue.directive()定义全局的指令
		//参数1：指令的名称，注意：在定义的时候，指令的名称前 不需要加v-前缀  在调用的时候必须在指令的前加上v-前缀 进行调用
		//参数2：是个对象，对象的身上有一些指令相关的函数，这些函数可以在特定的阶段，执行相关的操作
		Vue.directive('focus',{
			bind:function(el){//每当指令绑定到元素上的时候，会立即执行这个bind函数，只执行一次
				//注意：在每个函数中，第一个参数永远都是el  ，表示被逼绑定了指令的那个元素，这个el参数，是个原生的JS对象
				//在元素刚绑定了指令的时候，还没哟有插入到DOM中去，这时候，调用focus方法没有作用，一个元素只有插入到DOM之后，才能获取焦点
			},
			inserted:function(el){//表示元素插入到DOM中的时候，会执行inserted函数，只执行一次
				el.focus()
				//和JS行为有关的操作，最好在inserted中执行，防止JS行为不生效																				
			},
			updated:function(el){//当组件更新的时候会执行update，可能会触发多次
				
			}
		})
		
		//自定义一个 设置字体颜色的指令
		Vue.directive('color',{
			//样式，只要通过指令绑定给了元素，不管这个元素有没有被插入到页面中去，这个元素肯定有了一个内联的样式
			bind:function(el,binding){
//				el.style.color='red'
				//和样式相关的操作，一般都可以在bind中执行
//				console.log(binding.name)
//				console.log(binding.value)
//				console.log(binding.expression)
				el.style.color=binding.value
			},
		})
		
		
		
		var vm = new Vue({
			el:'#app',
			data: {
				id:'',
				name:'',
				keywords:'',
				list:[
					{id:1,name:'奔驰',ctime:new Date()},
					{id:2,name:'宝马',ctime:new Date()}
				]
			},
			methods: {
				add(){
					var car = {id:this.id,name:this.name,ctime:new Date()}
					//输入的不能为空值
					if(this.id && this.name){
						this.list.push(car)
						this.id=''
						this.name=''
					}
					
				},
				del(id){
//					this.list.some((item,i)=>{
//						if(item.id==id){
//							this.list.splice(i,1)
//							return true
//						}
//					})
					
					var index = this.list.findIndex(item=>{
						if(item.id==id){
							return true
						}
					})
					this.list.splice(index,1)
				}, 
				search(keywords){
//					var newList = []
//					this.list.forEach(item=>{
//						if(item.name.indexOf(keywords)!=-1){
//							newList.push(item)
//						}
//					})
//					return newList
				
					var newList = this.list.filter(item=>{
						if(item.name.includes(keywords)){
							return item
						}
						
					})
			
					return newList	

				}			
			}
		})
		
		var vm2 = new Vue({
			el:'#app2',
			data: {
				dt:new Date()
			},
			methods: {
				
			},
			filters: {//定义私有的过滤器		过滤器有两个条件  [过滤名称和过滤函数]
				dateFormat:function(dateStr,pattern=''){
					var dt = new Date(dateStr)
					var y = dt.getFullYear()
					var m = (dt.getMonth()+1).toString().padStart(2,'0')
					var d = dt.getDate().toString().padStart(2,'0')
		//			return y+'-'+m+'-'+d
		//			return `${y}-${m}-${d}`
					if(pattern.toLowerCase()==='yyyy-mm-dd'){
						return `${y}-${m}-${d}~~~`
					}else{
						var hh = dt.getHours().toString().padStart(2,'0')
						var mm = dt.getMinutes().toString().padStart(2,'0')
						var ss = dt.getSeconds().toString().padStart(2,'0')
						return `${y}-${m}-${d} ${hh}:${mm}:${ss}~~~`
					}
				}
			},
			directives: {//自定义私有指令     过滤器有两个条件  [过滤名称和过滤函数]
				'fontweight':{//设置字体粗细
					bind:function(el,binding){
						el.style.fontWeight = binding.value
					}
				},
				'fontsize':function(el,binding){//注意这个function等同于把代码写到bind和update中去
					el.style.fontSize = parseInt(binding.value)+'px'
				}			,
				
			},
			
		})
		Vue.directive('aaa',{
			bind:function() {

			},
			inserted:function() {

			},
			updated:function() {
				
			}
		})
		Vue.directives('bbb',{
			bind(){

			},
			inserted(){

			},
			updated(){
				
			}
		})
	</script>
	<body>
	</body>
</html>
